.loader {
    border: 5px solid #171717; /* Light grey */
    border-top: 4px solid #1ddb54; /* Blue */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1700ms linear infinite;
    margin: 0 auto;
    padding: 10px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}